!!! 5
html
	head
		title LEGO Turing Machine
		link(rel='stylesheet', href='styles/normalize.css')
		link(rel='stylesheet', href='styles/main.css')
	body
		h1 A Turing Machine build using LEGO
		img#head(src='images/global.jpg', width='640px', height='480px')
		
		nav: ul
			li: a(href="#Video") Video
			li: a(href="#LEGO") Lego
			li: a(href="#Software") Software
			li: a(href="Credits") Credits

		a#Video
		section
			h2 Video
			object(width="720px", heigh="405px")
			p
				| Filmography thanks to Andre Theelen of ecalpemos.nl



